<div class="gm-logos js-gm">
	<div class="gm-logos__box gm-logos__main js-gm-item" data-animation="logo">
		<div class="gm-logos__main-circles"></div>
		<div class="gm-logos__main-center">
			<img src="img/gm-main.svg" alt="">
		</div>
	</div>
	<div class="gm-logos__box gm-logos__kronet js-gm-item" data-animation="gmfirst">
		<img src="img/kronet.png" alt="">
	</div>
	<div class="gm-logos__box gm-logos__convertlab js-gm-item" data-animation="gmsecond">
		<img src="img/convertlab.png" alt="">
	</div>
	<div class="gm-logos__box gm-logos__mobinizer js-gm-item" data-animation="gmsecond">
		<img src="img/mobinizer.png" alt="">
	</div>
	<div class="gm-logos__box gm-logos__china js-gm-item" data-animation="gmfirst">
		<img src="img/china.png" alt="">
	</div>
	<div class="gm-logos__box gm-logos__mobiheads js-gm-item" data-animation="gmthird">
		<img src="img/mobiheads.png" alt="">
	</div>
</div>