<div class="gm-logos is-hide-mob js-gm">
	<div class="gm-logos__box gm-logos__main js-gm-item" data-animation="logo">
		<div class="gm-logos__main-circles"></div>
		<div class="gm-logos__main-center">
			<img src="img/gm-main.svg" alt="">
		</div>
	</div>
	<div class="gm-logos__box gm-logos__kronet js-gm-item" data-animation="gmfirst">
		<img src="img/kronet.png" alt="">
	</div>
	<div class="gm-logos__box gm-logos__convertlab js-gm-item" data-animation="gmsecond">
		<img src="img/convertlab.png" alt="">
	</div>
	<div class="gm-logos__box gm-logos__mobinizer js-gm-item" data-animation="gmsecond">
		<img src="img/mobinizer.png" alt="">
	</div>
	<div class="gm-logos__box gm-logos__china js-gm-item" data-animation="gmfirst">
		<img src="img/china.png" alt="">
	</div>
	<div class="gm-logos__box gm-logos__mobiheads js-gm-item" data-animation="gmthird">
		<img src="img/mobiheads.png" alt="">
	</div>
	<ul class="gm-logos__arrs">
		<li class="gm-logos__arrs-kronet">
			//=include svg-kronet.html
		</li>
		<li class="gm-logos__arrs-convertlab">
			//=include svg-convertlab.html
		</li>
		<li class="gm-logos__arrs-china">
			//=include svg-china.html
		</li>
		<li class="gm-logos__arrs-mobinizer">
			//=include svg-mobinizer.html
		</li>
		<li class="gm-logos__arrs-mobi">
			//=include svg-mobi.html
		</li>
	</ul>
</div>
<div class="img-mob">
	<img src="img/global-m.png" alt="img">
</div>